header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 1.2rem 1rem;
    background-color: var(--color-secondary);
}

.header-text {
    grid-column: 2;
    text-align: center;
}

header h1 {
    font-size: 1.6rem;
    color: var(--color-primary);
}

header p {
    font-size: 1rem;
    margin-top: 0.2rem;
    color: var(--color-text-secondary);
}

.theme-toggle {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    grid-column: 3;
    margin-left: auto;
}

.theme-toggle button {
    border: none;
    background: transparent;
    font-size: 1rem;
    color: var(--color-text-secondary);
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

.theme-toggle button.active {
    color: var(--color-accent);
    opacity: 1;
}

/*Footer*/
footer {
    text-align: center;
    padding: 1.5rem;
    background-color: var(--color-secondary);
}

footer p {
    font-size: 0.875rem;
    color: var(--color-text-secondary);
}

footer i {
    color: var(--color-accent);
}